@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/* Reset HTML default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}

body {
  font-family: "Roboto", sans-serif;
}

/* Style the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.75rem;
  padding: 0.9375rem;
}

/* Set the height of the main content */
main {
  height: calc(100vh - 70px);
  display: flex;
  background: #f9f9f9;
}

/* Hide the scrollbar */
.side-bar {
  height: 100%;
  width: 17%;
  background: white;
  overflow-y: hidden;
}

/* Style header left section */
.left {
  display: flex;
  align-items: center;
}

.left #menu {
  padding: 0 0.4375rem;
  cursor: pointer;
}

/* Style header center section and form */

.search {
  display: flex;
}

.search form {
  display: flex;
  border: 1px solid #ddd;
  height: 2.8125rem;
}

/* Style the input in the search form */
.search input {
  width: 37.5rem;
  padding: 0.625rem;
  border: 0;
  height: 100%;
  border-radius: 2px 0 0 2px;
}

input:focus {
  outline: none;
  border: 1px solid #ddd;
}

/* Style the search and mic icons/buttons */
.search button {
  height: 100%;
  width: 3.75rem;
  border: none;
}

.icon {
  margin: auto;
  display: block !important;
}

.mic {
  /* margin-top: 10px; */
  margin: auto;
}

/* Style all material-icons of the web page */

.material-icons {
  color: rgb(100, 100, 100);
  padding: 0 7px;
}

/**
 *
 * Style the side bar section
 *
 */

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.nav-link span {
  margin-left: 0.9375rem;
}

.nav-link:hover {
  background: #e5e5e5;
}

hr {
  height: 0.5px;
  border-color: #e5e5e5;
}

/*=============================================
=            Main content style            =
=============================================*/
.content {
  border-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: 0.9375rem 0.9375rem;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video {
  width: 16.875rem;
  margin-bottom: 1.875rem;
}

.thumbnail {
  width: 100%;
  height: 10.625rem;
}

.thumbnail img {
  object-fit: cover;
  width: 100%;
  height: 94%;
}

.details {
  display: flex;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
}
.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: rgb(3, 3, 3);
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 0.375rem;
}

.title a,
span {
  text-decoration: none;
  color: rgb(96, 96, 96);
  font-size: 0.75rem;
}

/*=====  End of main content style  ======*/

/*=============================================
=            Media queries            =
=============================================*/

@media (max-width: 1024px) {
  .search input {
    width: 25rem;
  }
  .nav span {
    display: none;
  }
  .side-bar {
    width: 10%;
  }
  .nav i {
    padding: 0;
  }
}
@media (max-width: 900px) {
  .search input {
    width: 20rem;
  }
}

@media (max-width: 768px) {
  .search {
    display: none;
  }
  .side-bar {
    display: none;
  }
}
